<style>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        overflow: auto;
    }

    .navbar-custom {
        background-color: #f8f9fa;
        /* Màu nền của header */
    }

    .navbar-custom {
        background-color: #f8f9fa;
        /* Màu nền của header */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .social-icons {
        display: flex;
        gap: 10px;
    }

    .search-bar {
        margin-left: auto;
    }

    .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    /* Adjustments for centering */
    .center-navbar {
        display: flex;
        justify-content: center;
    }

    .navbar-nav .nav-link .fas.fa-user-circle {
        font-size: 35px;
        /* Kích thước icon */
    }
</style>

<header>
    {{> signin}}
    {{> signup}}
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
                <div class="social-icons">

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user-circle"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    {{#if user}}
                                    <li>
                                        <a href=`https://localhost:3000/account/{{user}}` class="dropdown-item btn-primary"> {{user}}</a>
                                    <li>
                                        <li>
                                        <!-- Button trigger modal -->
                                        <a type="button" class="dropdown-item btn-primary" href="https://localhost:3000/account/logout">Log Out</a>
                                    <li>
                                    {{else}}
                                    <li>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="dropdown-item btn-primary" data-bs-toggle="modal" data-bs-target="#signin">
                                        Log In
                                        </button>
                                    <li>
                                        <button type="button" class="dropdown-item btn-primary" data-bs-toggle="modal" data-bs-target="#signup">
                                        Sign Up
                                        </button>
                                    </li>
                                    {{/if}}
                                </ul>
                            </div>
                            
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-cart-plus" style="font-size: 35px;"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-brand">C6 CLOTHING</div>
                <div class="search-bar">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
        <div class="row center-navbar">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="https://localhost:3000/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">All Product</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Category
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    {{#each categories}}
                                    <li><a class="dropdown-item" href="{{this.ImageUrl}}">{{this.CatName}}</a></li>
                                    {{/each}}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>