<div class="container">
    <div class="row my-5">
        <h2
            style="font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-transform: uppercase;">
            Your Cart
        </h2>
    </div>
    {{#if cartItems}}
            
    <div class="row" id="main-view">
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body" id="main-cart">
                    <!-- Item 1 -->
                    {{#each cartItems}}
                    <div class="row mb-4 align-items-center cart-item">
                        <div class="col-md-2">
                            <img src="{{this.Image}}" class="img-fluid rounded-3" alt="{{this.ProName}}">
                        </div>
                        <div class="col-md-3">
                            <h6 class="text-muted">{{this.CatName}}</h6>
                            <h6 class="text-black mb-0">{{this.ProName}}</h6>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex align-items-center">
                                <button class="btn btn-link px-2 down">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <input min="0" name="quantity" data-old-quantity="0" data-cart-item-id="{{this.ID}}" value="{{this.Quantity}}" type="number"
                                    class="form-control form-control-sm quantity" />
                                <button class="btn btn-link px-2 up">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h6 class="mb-0 price" data-price="{{this.Price}}" data-old-cost="0"></h6>
                        </div>
                        <div class="col-md-2 text-end" style="cursor: pointer;">
                            <a class="delete-item text-muted" data-item-id="{{this.ID}}"><i
                                    class="fas fa-times"></i></a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            
        </div>
        <div class="col-lg-4">
            <div class="card bg-grey mb-4">
                <div class="card-body p-5" id="side-panel">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4">
                    <div class="d-flex justify-content-between mb-4">
                        <h5 class="text-uppercase">Total product</h5>
                        <h5 id="total-product"></h5>
                    </div>
                    <hr class="my-4">
                    <div class="d-flex justify-content-between mb-5">
                        <h5 class="text-uppercase">Total Price</h5>
                        <h5 id="total-cost"></h5>
                    </div>
                    <!-- Checkout button -->
                    <button type="button" id="checkout" class="btn btn-dark btn-block btn-lg"
                        data-mdb-ripple-color="dark">Checkout</button>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <div class="container d-flex align-items-center justify-content-center">
    <div class="text-center">
      <h1>Your Cart</h1>
      <p class="lead">Your cart is empty</p>
    </div>
  </div>
    {{/if}}

</div>