<div class="p-2 h-100">
    <div>
        <p class="m-0 fs-5 mb-1">Manage</p>

        <div class="mb-3">
            <a href="https://localhost:3000/admin/product/upload" class="btn btn-primary">Add product</a>
        </div>
    </div>

    <div>
        <div class="d-flex justify-content-between align-items-center mb-2">
            <p class="m-0 fs-5">Product list</p>
            <form id="search" class="d-flex">
                <input id="searchbar" value="{{search}}" class="form-control me-2" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>

        <div style="height: 540px;" class="bg-white rounded shadow overflow-hidden">
            <div class="row">
                <div class="container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Image</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each products}}
                            <tr>
                                <td>{{this.ID}}</td>
                                <td>{{this.ProName}}</td>
                                <td>{{this.Price}}</td>
                                <td>{{this.Quantity}}</td>
                                <td><img src="{{this.ImageUrl}}" class="img-thumbnail" alt="Category Image"
                                        style="height: 120px; weight: 120px"></td>
                                <td>
                                    <a href="/product/update/{{this.ID}}" class="btn btn-primary">Update</a>
                                    <button class="btn btn-danger btn-delete" value="{{this.ID}}"
                                        onclick="return confirm('Are you sure you want to delete?')">Delete</button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {{#list totalPages prev page next}}
                        {{this}}
                        {{/list}}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<script>
    $(".btn-delete").click(function (e) {
        $.ajax({
            url: 'https://localhost:3000/admin/product/' + $(this).val(),
            type: "DELETE",
            success: function (result) {
                window.location.href = 'https://localhost:3000/admin/product/'
            }
        })
    })

    $(() => {
        const pageNavigatorConfig = function (order) {
            $('.page-link').click(function (e) {
                e.preventDefault();
                const page = $(this).val();
                const search = $('#searchbar').val();
                const data = {
                    'page': page,
                    'search': search,
                };
                $.get("https://localhost:3000/admin/{{manage}}", data)
                    .done(function (data) {
                        $('main > div').replaceWith(data);
                    });
            });
        }
        const search = function (e) {
            e.preventDefault();
            const search = $('#searchbar').val();
            const data = {
                'search': search
            };
            $.get("https://localhost:3000/admin/{{manage}}", data)
                .done(function (data) {
                    $('main > div').replaceWith(data);
                    pageNavigatorConfig();
                });
        };

        $('#search').submit(search);
        pageNavigatorConfig();
    })
</script>