<side>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-dark text-white">
        <div class="ps-4 py-3 mb-3 fs-5 fw-bold">Home</div>
        <div class="list-group list-group-flush mx-3 gap-2">
            <button type="button" class="btn btn-dark text-start">
                <i class="fa-solid fa-chart-simple"></i>
                Dashboard
            </button>
            <button type="button" class="btn btn-dark text-start active">
                <i class="fa-solid fa-bag-shopping"></i>
                Products
            </button>
            <button type="button" class="btn btn-dark text-start">
                <i class="fa-solid fa-list"></i>
                Categories
            </button>
            <button type="button" class="btn btn-dark text-start">
                <i class="fa-solid fa-user"></i>
                Users
            </button>
        </div>
    </nav>
    <!-- Sidebar -->
</side>
<!--Main Navigation-->
<main style="width:100%; height: 100%;">
    <nav style="box-shadow: 0 0 2rem 0 rgba(33,37,41,.1);" class="navbar navbar-expand-lg bg-white">
        <div class="container-fluid">
            <div></div>
            <div class="nav-item dropdown btn">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Username
                </a>
                <ul style="left:-40%;" class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="p-2 bg-light">
        <div>
            <p class="m-0 fs-5 mb-1">Manage</p>

            <div class="mb-3">
                <a href="https://localhost:3000/admin/category/upload" class="btn btn-primary">Add category</a>
            </div>
        </div>

        <div>
            <div class="d-flex justify-content-between align-items-center mb-2">
                <p class="m-0 fs-5">Category list</p>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>

            <div style="height: 540px;" class="bg-white rounded shadow overflow-hidden">
                <div class="row">
                    <div class="container">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each categories}}
                                <tr>
                                    <td>{{this.ID}}</td>
                                    <td>{{this.CatName}}</td>
                                    <td><img src="{{this.ImageUrl}}" class="img-thumbnail" alt="Category Image"
                                            style="height: 120px; weight: 120px"></td>
                                    <td>
                                        <button class="btn btn-sm btn-danger btn-delete" value="{{this.ID}}"  onclick="return confirm('Are you sure you want to delete?')">Delete</button>
                                        <a href="/edit-categories/Update/{{this.ID}}" class="btn btn-primary">Update</a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $(".btn-delete").click(function(e){    
        $.ajax({
            url: 'https://localhost:3000/category/'+ $(this).val(),
            type: "DELETE",
            success: function (result) {
                $("body").html(result); 
            }
        })
    })
</script>