<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-6">
            <!-- Hình ảnh chính của sản phẩm -->
            <img src="{{product.ImageUrl}}" alt="Product Main Image" class="img-fluid">
            
        </div>
        <div class="col-md-6">
            <!-- Thông tin chi tiết sản phẩm -->
            <h1 style="font-weight: bold; 
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
                text-transform: uppercase;">{{product.ProName}}</h1>
            <p style="font-size: 18px; color: #666;">{{{product.FullDes}}}</p>
            <h3 style="font-size: 40px; color: #000;">Price: ${{product.Price}}</h3>
            <h3 id="stock" style="font-size: 20px; color: #000;">Stock : {{product.Quantity}} item</h3>
            <div style="display: flex; gap: 10px; align-items: center;">
                <div style="flex: 1;">
                    <label for="sizeSelect" style="font-size: 18px; color: #333;">Category</label>
                    <h3>{{product.CatName}}</h3>
                </div>
                <div style="flex: 1;">
                    <label for="quantityInput" style="font-size: 18px; color: #333;">Quantity:</label>
                    <input type="number" id="quantityInput" name="quantity" value="1" min="1" max="{{product.Quantity}}" class="form-control">
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <button type="button" class="btn btn-outline-dark" id="btn-add-to-cart" style="font-size: 20px;">Add to cart</button>
            </div>
            <div class="row" style="margin-top: 15px;">
                <a type="button" href="https://localhost:3000/cart" class="btn btn-outline-dark" style="font-size: 20px;">Buy it now</a>
            </div>
        </div>

    </div>

    <section style="background-color: #eee;">
  <div class="container py-5">
    <h4 class="text-center mb-5"><strong>Related Products</strong></h4>

    <div class="row">
      {{#each related_products}}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
          <img src="{{this.ImageUrl}}"
            class="w-100" />
          <a href="https://localhost:3000/product/{{this.ID}}">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
              <div class="d-flex justify-content-start align-items-start h-100">
                <h5><span class="badge bg-light pt-2 ms-3 mt-3 text-dark">${{this.Price}}</span></h5>
              </div>
            </div>
            <div class="hover-overlay">
              <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
            </div>
          </a>
        </div>
      </div>
      {{/each}}

    </div>

  </div>
</section>
</div>
