<div class="container" id="main-comp">
    <div class="row my-5 ">
        <h2 style="font-weight: bold; 
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
                    text-transform: uppercase;">{{section}}</h2>
    </div>
    <div class="row">
        <!-- Sidebar -->
        <div class="col-lg-2">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid justify-content-center">
                    <form class="d-flex flex-column">
                        <label for="priceMin" class="form-label">Price Min: <span id="priceMinValue">0</span>$</label>
                        <input type="range" class="form-range mb-2" min="0" max="{{most_expensive}}" id="priceMin"
                            value="{{min_price}}">

                        <label for="priceMax" class="form-label">Price Max: <span id="priceMaxValue">0</span>$</label>
                        <input type="range" class="form-range mb-2" min="0" max="{{most_expensive}}" id="priceMax"
                            value="{{most_expensive}}">
                        <div class="d-grid gap-2 mb-2">
                            <button class="btn btn-outline-success sort-btn" value="ASC">Ascending</button>
                        </div>
                        <div class="d-grid gap-2 mb-2">
                            <button class="btn btn-outline-success sort-btn" value="DESC">Descending</button>
                        </div>
                    </form>
                </div>
            </nav>
        </div>

        {{> product_list_comp}}
    </div>
</div>